<h1>Editing User</h1>

<!-- <%= render 'form', user: @user %> -->

<%= form_for(@user) do |f| %>
   <%= f.label :full_name %>
   <%= f.text_field :full_name %>
   <%= f.label :user_name %>
   <%= f.text_field :user_name %>
   <%= f.label :website %>
   <%= f.text_field :website %>
   <%= f.label :user_bio %>
   <%= f.text_field :user_bio %>
   <%= f.label :email %>
   <%= f.text_field :email %>
   <%= f.label :phone_number %>
   <%= f.text_field :phone_number %>
   <%= f.label :gender %>
   <%= f.text_field :gender %>
   
   <%= f.submit %>
 <% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
