<h1>New User</h1>


 <%= form_tag("/users") do %>
   <%= label_tag('user[email]', "Email") %>
   <%= text_field_tag('user[email]') %>
   <br>
   <%= label_tag('user[full_name]', "Name") %>
   <%= text_field_tag('user[full_name]') %>
   <br>
  
   <%= label_tag('user[user_name]', "Username") %>
   <%= text_field_tag('user[user_name]') %>
   <br>
  
    <%= label_tag('user[password]', "Password") %>
   <%= text_field_tag('user[password]') %>

   <%= submit_tag "Create User" %>
 <% end %>


<%= link_to 'Back', users_path %>
