


<main>
  <div class="container">
    <div class="row headerContent">
    <div class="col left">
      <div class="image">
        <% if @user.avatar_attachment %>
          <%= image_tag(url_for(@user.avatar), size: "150x150", class: "round")  %>
        <% else %>
          <%= image_tag(image_url('default.jpg'), size: "150x150", class: "round") %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8 right">
      <div class="content">
        <div class="row" style="max-width: 300px; margin-left: 0; ">
          <h1 style="font-weight: 200; float: left; margin-right: 25px"><%= @user.user_name %></h1>
          <% if current_user.id == @user.id %>
            <%= button_to "Edit Profile", edit_user_path(current_user), class: "customButton", method: "get" %>
          <% elsif current_user.followees.include?(@user) %>
            <%= button_to "Unfollow", follower_path(@user.id), class: "customButton", method: "delete" %>
          <% else %>
            <%= button_to "Follow", followers_path, class: "customButton", method: "post", params: { id: @user.id } %>
          <% end %>
        </div>
        <div class="row" style="max-width: 400px">
        <div class="col">
        <span><%= @user.posts.length %> posts</span>
        </div>
        <div class="col">
        <span><%= @user.followers.length %> followers</span>
        </div>
        <div class="col">
        <span><%=@user.followees.length%> following</span>
        </div>
        </div>
        <p><%= @user.full_name %></p>
        <p><%= @user.user_bio ? @user.user_bio : nil%></p>
      </div>
    </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">

        <% if @user.posts %>
          <% @user.posts.each do |post| %>
              <div class="col-lg-4 col-md-4 item " style="margin-bottom: 25px">
            <%= link_to post_path(post) do %>

            <div class="contentSpan">
              <span class="fas fa-heart">   142</span>
              <span class="fas fa-comment" style="margin-left: 25px;">   57</span>
            </div>
            <%= image_tag(url_for(post.picture), class: "img-fluid image custom-image darken")%>

            <% end %>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
    </section>
</main>





